$primaryColor: rgb(12, 60, 96);
$colorText: rgb(7, 33, 54);
$whiteText: #FFFF;
$basicColor: #F7F7F7;
$lightBlue: rgba(216, 232, 242, 0.7);

@mixin align_center{
    display: flex;
    align-items: center;
}

@mixin button{
    height: 53px;
    background: none;
    border: 1px solid $primaryColor;

    &:hover{
        background-color: $primaryColor;
        color: $whiteText;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    min-height: 100vh;

    header{
        @include align_center;
        background-color: $primaryColor;
        color: $whiteText;
        justify-content: space-around;
        height: 74px;
        color: $whiteText;

        h1{
            font-size: 20px;
            font-weight: 500;
        }

        nav{
            @include align_center;
            flex-direction: row;
            gap: 40px;

            ul{
                display: flex;
                gap: 35px;

                li{
                    list-style: none;
                    font-size: 16px;
                }
            }
        }
        .log_in{
            @include align_center;
            gap: 12px;
        }
    }

    main{

        .main_background{
            height: 785px;
            background-image: url(./elements/82fcd3_47a465bb9c6f4b52a0cc83f281806af8~mv2.avif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: end;
            justify-content: center;

            .white_box{
                background-color: $whiteText;
                width: 835px;
                height: 250px;
                @include align_center;
                flex-direction: column;
                gap: 15px;
                padding-top: 45px;


                p{
                    font-size: 26px;
                    color: $primaryColor;
                }

                h2{
                    font-size: 60px;
                    font-weight: 500;
                    color: $primaryColor;
                }

                button{
                    font-size: 16px;
                    width: 228px;
                    @include button;
                }
            }
        }

        .detailed_info{
            min-height: 633px;
            @include align_center;
            justify-content: center;
            gap: 100px;

            aside{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                width: 327px;
                gap: 50px;
                @include align_center;

                h3{
                    font-size: 36px;
                    color: $primaryColor;
                    font-weight: 500;
                }

                p{
                    font-size: 17px;
                    line-height: 25.6px;
                    color: $primaryColor;
                    text-align: center;
                }

                button{
                    font-size: 17px;
                    width: 181px;
                    @include button;
                }
            }
        }

        .about_us{
            background-image: url(./elements/background.avif);
            height: 679px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;

            .overlay{
                background-color: $lightBlue;
                height: 100%;
                @include align_center;
                flex-direction: column;
                justify-content: center;
                gap: 40px;                

                h4{
                    font-size: 36px;
                    font-weight: 500;
                }

                p{
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    width: 645px;
                    margin-bottom: 15px;
                }

                button{
                    @include button;
                    width: 181px;
                    font-size: 16px;
                    background-color: transparent;
                }
            }
        }

        .our_services{

            @include align_center;
            flex-direction: column;
            padding: 140px 0;
            gap: 100px;

            h4{
                font-size: 36px;
                font-weight: 500;
                color: $primaryColor;
            }

            .examples{

                display: flex;
                justify-content: space-around;
                gap: 70px;

                .example{
                    
                    p{
                        font-size: 18px;
                        margin: 20px 0;
                        color: $primaryColor;
                    }

                    span{
                        font-size: 16px;
                        color: $primaryColor;
                    }
                }
            }

            button{
                @include button;
                width: 230px;
                color: $primaryColor;
            }
        }

        .our_clients{

            @include align_center;
            flex-direction: column;
            gap: 150px;
            margin-bottom: 140px;
            
            h5{
                font-size: 36px;
                font-weight: 500;
                color: $primaryColor;
            }

            .logos{

                @include align_center;
                gap: 200px;

                p{
                    font-size: 36px;
                    font-weight: 500;
                    color: $primaryColor;
                }

            }

        }

        .location{

            @include align_center;
            background-color: $primaryColor;
            padding: 150px;
            justify-content: center;
            
            iframe{
                width: 1000px;
                height: 500px;
            }

        }
    }

    footer{

        background-color: $colorText;
        display: flex;
        align-items: start;
        justify-content: space-around;
        padding: 100px;

        h6{
            color: $whiteText;
            font-size: 20px;
        }

        .left{
            
            ul{
                margin-top: 20px;
                list-style: none;
                color: $whiteText;
                font-size: 16px;
            }
        }

        .mid{

            ul{
                margin-top: 20px;
                list-style: none;
                li{
                    a{
                        text-decoration: none;
                        color: $whiteText;
                        font-size: 16px;
                    }
                }
            }
        }

        .right{
        
            .platforms{
                margin: 20px 0;
            }
        }

    }
}

